| Caro #{@user.name},
br/
br/
| Ao apoiar um projeto no Catarse você não apenas ajudou a construir a nossa história como também a do financiamento coletivo no Brasil. 
br/
| Agora, queremos conhecer melhor você e todos aqueles que decidiram compartilhar sonhos e projetos, para tentarmos entender quem são os personagens dessa história e para onde ela pode ir. 
br/
| Gostaríamos de convidá-lo a responder a pesquisa Retrato do Financiamento Coletivo no Brasil e a divulgá-la para todo mundo.
br/
| Só com a sua participação poderemos retratar esse complexo e múltiplo movimento que já ajudou milhares de ideias a sair do papel!
br/
| Para responder a pesquisa, acesse: 
= link_to 'http://bit.ly/retratofinanciamentocoletivo', 'http://bit.ly/retratofinanciamentocoletivo'
br/
br/
| Obrigado!
br/
| Equipe do Catarse
