- channel = @notification.channel_post.channel
- post = @notification.channel_post
- user = @notification.user

= Content_for : email_logo the
  = Image_tag ( channel.image , alt: channel.name )

br /
strong = post.title
== post.email_body_html
br /
| View channel: #{ link_to channel.name , root_url ( subdomain : channel.permalink ) }
br /
