- Contribution = notification .contribution

| Hello , #{ } contribution.user.name !
br
br
| Unfortunately the ProduceRun #{ link_to ( contribution.project.name , project_by_slug_url (permalink : contribution.project.permalink ) ) }
| You Stood did not reach the target set and was not funded in #{ CatarseSettings [: company_name ] } .
br
br
| As the payment was made ​​by slip , Following the procedures que must be made ​​so That We can reverse the value of your support
br
br
| The support was made ​​through its ticket , you need to fill your
'#{ Link_to ' bank details' , settings_user_url ( contribution.user ) } to we made the transaction Within 10 days .
br
br
| Once the refund Has Been made ​​, you will receive an email confirmation of the operation .
br /
br /
| If you got any questions , please contact us replying to this message or by e- mail #{ mail_to CatarseSettings [: email_contact ] } .To expedite service , please enter the identification key for your support , Which is :
br /
| #{ } Contribution.payment_id
br
br
| A big thank you ,
br
| #{ CatarseSettings [: company_name ] }
| #{ CatarseSettings [: company_name ] }
