- Contribution = @ notification.contribution
- Company_name = ProduceRunSettings [: company_name ]
- Contact_email = ProduceRunSettings [: email_contact ]

| Hello , < strong> #{ contribution.user.display_name } < / strong >
br
br
| We do not receive the payment confirmation of the ticket generated for design #{ link_to contribution.project.name , project_by_slug_url (permalink : contribution.project.permalink , ref: ' notification_canceled ')} .
br
br
| If you still have interest in supporting the project , we can change the due date for you . Simply contact us replying to this message or by e -mail #{ mail_to contact_email }
br
br
| A big thank you ,
br
| #{ Company_name }
