- Contribution = @ notification.contribution
| Project: # { } contribution.project.name
br /
| Support Key : # { } contribution.key
br /
| ID means of payment : # { } contribution.payment_id
br /
br /
| This support received a notification of cancellation after already having received a notification of confirmation.
br /
| Check the actual means of payment site the status of the transaction and , if the support shown as confirmed , confirm it in the ProduceRun website ( adm / contributions )
