- User = @ notification.user

| Hi } #{ user.name ,
br /
br /
| In order to further simplify the process of repayments ,we wanted to talk to you about your credits.
br /
br /
| So we checked , you've stil have { # } user.display_credits here .
br /
br /
| Just a friendly reminder that you have spare credit which you might have forgotten about like the cash under bed and now you can use it to back a ProduceRun. :-)
br /
br /
| Ok, so the minimum support for a ProduceRun is $10, what to do then?
br /
br /
| The minimum support is $ 10 yes, but <strong > until 10/11 < / strong > you will be able to back a ProduceRun that you buy into with the credits you have left. : D
br /
br /
| To support a project, the process is the same :
br /
br /
| 1 - Select the project you want to support ;
br /
| 2 - Click To support this ProduceRun ;
br /
| 3 - Set the value that wants to support and select the field confirming that you want to use your credits .
br /
| 4 - Click the Review button, and make payment at the bottom of the screen;
br /
| 5 - Ready ! Your support will be confirmed = )
br /
br /
| <Strong > ProduceRun Tips < / strong >
br /
br /
- User.recommended_projects.limit ( 3 ) .each do | project |
  | #{ link_to ( project.name , project_by_slug_url (permalink : project.permalink , ref: ' credits_warning_less_group ')) }
  br /
  | #{ project.headline }
  br /
  br /
br /
br /
| If you do not use the credits until the day 10/11 , we will contact you to make the refund.
br /
br /
| If you have any questions, just let us know by replying to this email or by info@producerun.com
br /
br /
| A big thank you ,
br /
| ProduceRun
