- User = @ notification.user
| Hello , < strong> #{ user.display_name } < / strong >
br
br
| We have seen here that you have $ #{ user.credits } in credits ProduceRun . Here are some farmers ProduceRun's that we thought you might be interested in.
br
br
| Down selected some project suggestions especially for you :
br
br
-user.recommended_projects.limit ( 3 ) .each do | project |
  | #{ link_to ( project.name , "#{ CatarseSettings [:base_url ] } / projects / #{ project.to_param } " ) }
  br
  | #{ project.headline }
  br
  br
br
br
| Not to be sure, here's a step-by- step to use the credits :
br
br
| 1 - #{ link_to ( ' Select the ProduceRun you want to support ; ' explore_url ) }
br
| 2 - Click I want to support this ProduceRun ;
br
| 3 - Set the value that wants to support and select the field confirming that you want to use your credits .
br
| 4 - Click the Review button, and make payment at the bottom of the screen;
br
| 5 - Ready ! Your support will be confirmed = )
br
br
| If you prefer , you can claim a refund of your money by clicking #{ link_to ( " here " , "#{ CatarseSettings [:base_url ] } / users / { #} user.to_param #credits " ) } . You will be able to take most of your questions about reimbursement #{ link_to ( ' Support ' 'http://suporte.catarse.me')}.
br
br
| If you have any other questions , please contact us at our Support Center : support.producerun.com .
br
br
| A big thank you ,
| ProduceRun team
