- User = @ notification.user
- Project = @ notification.project

- Project_link = project_by_slug_url (permalink : project.permalink )
- Company_name = CatarseSettings [: company_name ]

| Hello , #{ user.name } !
br
br
| Our team just received your ProduceRun Campaign #{ link_to project.name , project_link , target: ' __blank '}
br /
br /
| During the next 24 hours , we want look at your draft, provide feedback if needed so you can have a succcessful ProduceRun Sales Campaign .
br
br
strong You can receive 3 types of response :
br /
br /
strong Option 1:
| Your draft passed in the analysis, was accepted and you can goto Market !
br /
| Now just arrange the day and time for your debut project on the ProduceRun site!
br /
br /
strong Option 2:
| It seems to us that your project has a lot do with #{ company_name } , but still needs some tweaking to go to the Market. We will contact you to understand possibilities , suggest things and take some questions .
br /
br /
strong Option 3:
| Unfortunately , the project draft you sent does not fit the profile of the site #{ company_name } .
| Send an email notifying the refusal . Yes , we know that refusals are always unpleasant. But the motto here is
| " Up, shakes the dust and give a comeback " . But before shaking any dust ,
| Our study #{ link_to ' Support Center ' , CatarseSettings [: support_forum ] target: ' __blank '} so you know everything about our prerequisites for the construction of your next ProduceRun .
br /
br /
| Remembering that you can ask questions with us directly responding to this message or by e -mail #{ mail_to CatarseSettings [: email_projects ] }
br /
br /
| A big thank you ,
br /
= company_name
