- contribution = @ notification.contribution
| Hello
br /
br /
| Support #{ contribution.key } for design #{ contribution.project.name } was confirmed with the lowest value of the project support value.
br /
br /
