- project = @ notification.project
| Hey !
br
br
| Another ProduceRun was created in #{ CatarseSettings [:company_name ] } !
== " By #{ link_to project.user.name , user_url ( project.user ) } "
br
== " Director 's email: #{ mail_to } project.user.email "
br
br
| ProduceRun details below:
br
br
b Name:
= "#{ Project.name } "
br
b Meta :
= "#{ Project.display_goal } "
br
b Related Links List:
br
= Simple_format ( project.more_links )
br
b First supporters :
br
= Simple_format ( project.first_contributions )
br
b How did the #{ CatarseSettings [:company_name ] .downcase } :
br
= project.traffic_sources
br
br
= Link_to ' See more about the project ,' project_by_slug_url (permalink : project.permalink )
