- Contribution = @ notification.contribution
| Hello , # { } contribution.user.name !
br
br
| You started a support for the ProduceRun # { link_to contribution.project.name , project_by_slug_url (permalink : contribution.project.permalink ) } , but he did not reach the target set in the Catharsis .
br
br
| < Strong> If you DO NOT found support < / strong >, you can disregard the information in this email.
br
br
| < Strong> If you completed your support < / strong > , but have not received confirmation of catharsis yet , you should receive in the coming days a provisional receipt. Soon after, as the project was not funded , you will receive a notification with details on the reimbursement of their support.
br
br
| Remembering that your support of the identification key is: < strong> # { contribution.payment_id } < / strong >
br
br
| If you got any questions, please contact us replying to this message or by e -mail # { mail_to ProduceRunSettings [: email_contact ] }
br
br
| Kind Regards ,
br
| # { ProduceRunSettings [: company_name ] }


