- Update = @ notification.project_post
- User = @ notification.user
br /
strong = update.title
== update.email_comment_html
br
br
| See the project: # { link_to update.project.name , project_by_slug_url (permalink : update.project.permalink ) }
br /
br /
| # { Link_to ' Unsubscribe ' unsubscribe_notifications_user_url (user) } receiving news of this ProduceRun
