- project =  notification .project

- project_link = project_by_slug_url ( permalink: project.permalink)
- company_name =  CatarseSettings [ : company_name ]

| Hi, #{ project.user.display_name } ,
br /
br /
| Unfortunately the project #{ link_to project.name, project_link } did not reach the target set for you in #{ company_name } .
br /
br /
| All supporters received an email with instructions on the reimbursement process. 
br /
| Check out: #{ link_to  ' Rules and Operations of Reimbursement ' , ' http://support.producerun.com' , target:  ' __blank '  }
br /
br /
strong Last order =)
br /
| We are always striving to improve our service and we need to be attentive to what users tell us. One of the best ways to do this is to collect feedback and aid those who had experience with the platform. It would be great if you answered these two little questions below:
br /
br /
strong one. What are the 2 worst problems you faced during the campaign process?
br /
br /
| It can be something directly related to the #{ company_name } or perhaps in relation to difficulties in
| Capture or communication of the project while he was campaigning, among others.
br /
br /
strong 2. What do you missed on deck #{ company_name } ?
br /
br /
| Congratulations on your campaign, your project may not have achieved the goal but surely you learned something and can benefit greatly from this experience.
br /
br /
| Thank you for entering this with us! 
br /
br /
| Kind Regards,
br /
= company_name

