- user =  notification .user
- project =  notification .project

- project_link = project_by_slug_url ( permalink: project.permalink)
- company_name =  ProduceRunSettings [ : company_name ]

| Hello, # { user.name } !
br
br
| Thanks to begin the application process of a ProduceRun in # { company_name } !
| This is only the first step and means that you just created your 
| < strong > # { link_to  ' project draft ' , project_link, target:  ' __blank ' } </ strong > in # { company_name } .
br /
br /
| The key tips to structure your project can be found at 
| Various articles in our # { link_to  " Support Center # { company_name } " , ProduceRunSettings [ : support_forum ] target:  ' __blank ' } .
| It can be used as a reference source for most of the questions you have before, during and after the campaign. 
| Even so decided to highlight some points in this email. Read all very carefully:
br /
= link_to " The Basics do #{ company_name } " , ' http://support.producerun.com ' , target: ' __blank '   
br /
= link_to ' Directors - first steps (rascunho) ' , ' http://support.producerun.com ' , target: ' __blank '   
br /
br /
| Check also:
br /
= link_to " What are all the steps involved in a campaign no #{ company_name } ? " , ' http://support.producerun.com' , target: ' __blank '   
br /
= link_to " How to Promote Your projeto " , ' http://support.producerun.com ' , target: ' __blank '   
br /
br /
| Read these materials and then fill all calmly enough to improve your ProduceRun Campaign. 
br /
| You can stay as long as you like riding the page of your ProduceRun before you send it. 
br /
br /
| When you feel that your ProduceRun page is ready, simply click the "SEND PRODUCERUN" button and we will contact you.
br /
br /
| If you got any questions, please contact us replying to this message or by e-mail # { mail_to CatarseSettings [ : email_projects ] }
br /
br /
| And by the way, please < strong > do not forget to include in your contact list e-mail: </ strong >
| # { mail_to ProduceRunSettings [ : email_projects ] } and {# mail_to ProduceRunSettings [ : email_contact ] } to prevent our messages fall into your spam due to your email filters.
br /
br /
| A big thank you,
br /
= company_name
