- user =  notification .user
- project =  notification .project

- project_link = project_by_slug_url ( permalink: project.permalink)
- company_name =  ProduceRunSettings [ : company_name ]

| Hello, # { user.display_name } .
br /
br /
| The project # { link_to project.name, project_link, target:  ' __blank ' } is in the air and can now receive support! Good luck in this marathon!
| A collective funding campaign takes work, but it is rewarding! If not planned their actions before, do not waste time.
| The time is now! Now is # {  link_to  ' ALL-OR-NOTHING! ' , ' http://support.producerun.com' , target:  ' __blank ' } 
br /
br /
| To talk about communication strategies with our team and receive suggestions on how to act in your campaign, 
| Reply to this email or send a message to # { mail_to ProduceRunSettings [ : email_projects ] } .
| But remember that < strong > you are responsible for promoting the campaign and take care of dissemination of the project </ strong >. It is your network that will support much of this discussion should be seen as an aid.
br /
br /
strong Important Information:
br /
br /
| You < strong > NOT </ strong > can < strong > change </ strong > or the < strong > Fundraising Goal </ strong > or the < strong > selected Period </ strong > for the campaign.
br /
br /
| However you still can:
br /
| - Change the main display of your campaign
br /
| - Edit the description of your project
br /
| - Create new rewards
br /
| - Change content and value of rewards that no one chose
br /
| - Change supporters limit of a certain reward
br /
| - Exhaust rewards (limiting them to an X number of supporters)
br /
| - Change Thumbnail and the Effect phrase of your project
br /
| - Studying rules, tips and other information through # { link_to  ' Support Center ' , ProduceRunSettings [ : support_forum ] } .
br /
br /
| < strong > If you did not check the # { link_to  ' Support Center ' , ProduceRunSettings [ : support_forum ] target:  ' __blank ' } ,
| Check it out! The more you know about the details of a campaign in # { company_name } , the better prepared you will be. </ strong >
| And do not worry, we are here! You can ask questions with us directly responding to this message or by e-mail # { mail_to ProduceRunSettings [ : email_projects ] }
br /
br /
| And by the way, please </ strong > do not forget to include in your contact list e-mail: </ strong >
| # { mail_to ProduceRunSettings [ : email_projects ] } and {# mail_to ProduceRunSettings [ : email_contact ] } to prevent our messages
| Fall in your spam box because the e-mail filters. 
br /
br /
| Kind Regards,
br /
| The team # { company_name } you want a good campaign !!!!


