- project =  notification .project

- project_link = project_by_slug_url ( permalink: project.permalink)
- company_name =  ProduceRunSettings [ : company_name ]

| Hooray, #{ project.user.name } ,
br /
| Congratulations your campaign has been succesful!
br /
br /
| The project #{ link_to project.name, project_link } was funded!
br /
br /
| After you will celebrate with the successful completion of your ProduceRun campaign,
'It's time to get back to work! We have gathered here some very important information for those who had their
'Successfully funded project here in #{ company_name } .
br /
br /
| < strong > 1 </ strong > - In the Reports tab (which is on your project page) you can download
'Spreadsheets with < strong > information about the supporters of your project </ strong > (chosen Reward | Support Value | Date of confirmation of support | Name | Email | Address)
br /
br /
| < strong > 2 </ strong > - We will issue a < strong > Invoice </ strong > to you as soon as we make the transfer of money.
'< strong > To issue the invoice we will use the information in your profile. </ strong >
br /
| #{ link_to  ' As will be repasse? ' , ' http://support.producerun.com' , target:  ' __blank ' }
br /
br /
| < strong > 3 </ strong > - #{ link_to  ' Encontre ' , ' http://support.producerun.com'  }
'More information about this new phase of your project in #{ company_name } !
'Read carefully and stay on top of all the processes which are performed after the completion of the project!
br /
br /
| If you have any questions, please reply to this message or call directly from 9:00 to 18:00 on (11) 319 640 7002
br /
br /
| Congratulations!
br /
= company_name
