- project =  notification .project

- project_link = project_by_slug_url ( permalink: project.permalink)
- company_name =  CatarseSettings [ : company_name ]

| Hi #{ project.user.name } ,
br /
br /
| The term of the ProduceRun#{ link_to project.name, project_link } in {# company_name } over.
br /
br /
| There are outstanding payments for your ProduceRun To compute these amounts we would
'Awaiting confirmation of these last-minute contributions for the next 3 business days. 
br /
br /
| Check out some scenarios in which your project can fit:
br /
br /
| < strong > 1) If your project has already surpassed the target: </ strong > we will only count if
'There is some confirmation of payment and will do the transfer for you after that period. 
'Within 10 days restaraunt, you will receive the collected amount (discounted rates of means of payment and ProduceRun).
br /
| #{ link_to  ' As will be transfer? ' , ' www.producerun.com' , target:  ' __blank ' }
br /
br /
| < strong > 2) If your project has not yet reached the goal, but has outstanding payments that may cause
| Happen: </ strong > will wait and hope that these payments are confirmed and your project can achieve 100%.
br /
br /
| < strong > 3) If your project does not reach the goal even with these last minute payments: </ strong >
'Supporters will receive reimbursement of the aid amount. Credit card, the repayment
'Will come as a credit on the next bill, since for bank bills, the amount will be deposited to the supporter.
br /
| #{ link_to  ' Rules and Operations of Refunds ' , ' http://www.producerun.com' , target:  ' __blank ' } .
br /
br /
| If you got any questions, please reply to this message or contact us directly by e-mail #{ mail_to CatarseSettings [ : email_projects ] }
br /
br /
| A big thanks to you,
br /
= company_name
