- Project = @ notification.project
- Project_link = project_by_slug_url (permalink : project.permalink )
- Bank_account = project.user.bank_account
| #diegoreeberg
br /
= project.name
br /
= Link_to project_link , project_link
br /
| REVENUE :
= project.display_pledged
br /
| User MoIP :
= project.user.moip_login
br /
| CPF / CNPJ director :
= project.user.cpf
br /
| Expiration date :
= project.display_expires_at
br /
| Phone:
= project.user.phone_number
br /
| Using pagar.me ?
= ( Project.using_pagarme Yes ?: 'No' )
br /
| Bancarios data:
br /
| Bank: #{ bank_account.try ( : name ) }
br /
| Agency: #{ bank_account.try ( : agency ) } - #{ bank_account.try ( : agency_digit ) }
br /
| Account: #{ bank_account.try ( : account ) } - #{ bank_account.try ( : account_digit ) }
br /
| Holder Name : #{ bank_account.try ( : user_name ) }
br /
| CPF: #{ bank_account.try ( : user_document ) }
