- contribution = @notification.contribution
User #{ p } contribution.user.display_name
p User Email: #{ contribution.user.email }
p Email payment : #{ contribution.payer_email }
p Name of payment: #{ contribution.payer_name }
p Project: #{ contribution.project.name }
p support Key : #{ contribution.key }
p identifier in the middle of payment: #{ contribution.payment_id }
p support value: #{ contribution.display_value }
p of payment: #{ contribution.payment_method }
p Payment method: #{ contribution.payment_choice }
p Creation date: #{ contribution.created_at }
