- contribution =  notification .contribution

| Hello Community!
br /
br /
| This support for non-funded project was carried out through credits. Please contact the director to make the refund.
br /
br /
| User # { contribution.user.display_name }
br /
| User Email: # { contribution.user.email }
br /
| Email payment: # { contribution.payer_email }
br /
| Name of payment: # { contribution.payer_name }
br /
| Project: # { contribution.project.name }
br /
| Support Key: # { contribution.key }
br /
| Identifier in the middle of payment: # { contribution.payment_id }
br /
| Support Value: # { contribution.display_value } 
br /
| Type of payment: # { contribution.payment_method }
br /
| Payment method: # { contribution.payment_choice }
br /
| Date of creation: # { contribution.created_at }
