- user =  notification .user

| Hello #{ user.display_name } ,
br /
br /
| This email is to notify the recent update on our #{ link_to  ' terms of use ' , ' http://www.producerun.com/terms-of-use ' , target:  ' __blank ' } 
'And #{ link_to  ' privacy policy ' , ' http://www.producerun.com/privacy-policy ' , target:  ' __blank '  } in catharsis. The changes are related to new means of payment that ProduceRun is using and shall be effective for ProduceRun Campaigns.
br /
br /
| To summarize the changes:
br /
br /
| - Unfunded ProduceRun Campaigns do not generate more credits (regardless of when they entered;
br /
| - There will be the possibility of using credits on any project;
br /
| - If the ProduceRun Campaign is not funded, refund of payment made via credit card within 5 working days straight in the making;
br /
| - If the ProduceRun Campaign is not funded, refund of payment made via slip within 10 business days straight in the given bank account at the time of payment;
br /
| - Option to save the credit card data on ProduceRun profile.
br /
br /
| To read all the details see our #{ link_to  ' post on blog ' , ' http://blog.producerun.com/ ' , target:  ' __blank ' } ou
'Read #{ link_to  ' terms of use ' , ' http://www.producerun.com/terms-of-use ' , target:  ' __blank ' } 
'And #{ link_to  ' privacy policy ' , ' http://www.producerun.com/privacy-policy ' , taget:  ' __blank ' } updated.
br /
br /
| If you got any questions please contact us by replying to this email or by #{ mail_to CatarseSettings [ : email_contact ] }
br /
br /
| Thanks,
br /
| ProduceRun
