- project =  notification .project

| Hi, < strong > #{ project.user.display_name } </ strong >
br
br
| You've done checking their MoIP account? Without it, you will only get cash out £ 500 / month!
br /
br /
| Let's make this process here because usually faster than if you try at MOIP own, ok? 
br /
| Just reply to this e-mail, attaching the documents requested below, depending on the type of your business. 
br /
br /
| Imprensindível is that the documents you send are the < strong > same CPF account holder MoIP </ strong > (which must be the same holder of the bank account).
br /
br /
| The documents required for MOIP of Individual accounts are: 
br /
br /
ol
  read
    | CPF and RG (front and back) or CNH (CNH must be within the period of validity);
  read
    | Water bills, electricity, phones or invoice cards, up to 60 days of issue (the date must be visible), payable to the account holder MoIP or kinship 1st grade. If the account is in spouse's name, the marriage certificate is also required.
br /
br /
| The Required documents for the Corporate MOIP accounts are:
br /
br /
ol
  read
    | CPF and RG (front and back) or CNH (responsible for the company);
  read
    | Water bills, electricity, phones or invoice cards, up to 60 days of issue (the date must be visible), payable to the holder of the account MoIP, the nominal registered company or to any shareholder thereof. 
  read
    | Social Contract (full), Laws (full) or MEI (individual entrepreneur Micro registration) and proof of the IRS.
  read
    | Completeness tab "Business data" within its MoIP account.
br /
br /
| Once we receive these documents, we will send to the MOIP do the analysis and, if everything is ok, your account will be checked so you can make the withdrawal of the full amount received. 
br /
br /
| Remember that the account verification process is necessary for the safety of those who have a MoIP account and other users of MoIP. The MoIP need to ensure that you are the owner of the data entered at registration.
br
br
| If you got any questions, please reply to this message or call directly from 14:00 to 18:00 in 319 640 7002.
br
br
| A hug!
br
| #{ ProduceRunSettings [ : company_name ] }
